services:
  web:
    build: .
    ports:
      - "5000:8000"  # ローカルのポート5000をコンテナのポート8000にマッピング
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - VAPID_PUBLIC_KEY=BLcgdmYWW7BrDvdabfZRStyVyCafU74WvmYgGhHCH0-WuG-kOGeZy_XrXa_uonwvwGefKDRNQceDH1gpMYaxPNM
      - VAPID_PRIVATE_KEY=SRCQzOfeX8tsx9WpySZ9GapE53MRIlJabljY7N67A_E
      - VAPID_CLAIM_EMAIL=kazuki.uec25@gmail.com
    volumes:
      - .:/app
    depends_on:
      - db
  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
volumes:
  postgres_data: