services:
  web:
    build: .
    ports:
      - "5000:8000"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      
      # .env ファイルから値を読み込んでコンテナに渡します
      - ONESIGNAL_APP_ID=${ONESIGNAL_APP_ID}
      - ONESIGNAL_API_KEY=${ONESIGNAL_API_KEY}

    volumes:
      - .:/app
    depends_on:
      - db
    
    # ▼▼▼ これを追加！ start.shを使わずに直接起動させます ▼▼▼
    command: tail -f /dev/null
    # ▲▲▲ ここまで ▲▲▲

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
volumes:
  postgres_data: