{% extends "base_layout.html" %}

{% block title %}通知一覧{% endblock %}

{% block content %}
    <h2>通知一覧</h2>
    {% if notifications %}
        {% for notification in notifications %}
            <div class="post">
                <p>
                    {{ notification.message }}
                </p>
                <p><a href="{{ url_for('post_detail', post_id=notification.post_id) }}">投稿詳細へ</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p>新しい通知はありません。</p>
    {% endif %}
{% endblock %}